@import url('https://fonts.googleapis.com/css?family=Raleway:500,800&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}

body {
    background-color: var(--color4);
}

/** COLOR CONSTANTS **/

:root {
    --color1: rgba(45, 49, 66, 1);
    --color2: rgba(236, 220, 176, 1);
    --color3: rgba(238, 66, 102, 1);
    --color4: rgba(139, 141, 143, 0.5);
}

#container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}


/*********************
 * SLIDE-SHOW STYLES *
 *********************/

#slide-show {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color3);
    animation: 2s cubic-bezier(0.63, 0, 0.59, 0.96) 0s 1 slideInFromLeft;
}

#slide-show img {
    width: 100%;
}

#slide-show p {
    letter-spacing: 3px;
    font-weight: bold;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 900px) {
    #slide-show {
        display: none;
    }
}


/********************
 *    FORM STYLES   *
 ********************/

#form {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
    animation: 2s cubic-bezier(0.63, 0, 0.59, 0.96) 0s 1 slide-from-right;
}

form {
    flex: 0.5;
}

h1 {
    font-size: 2.3em;
    margin: 30px 0;
}

#inputs-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

@keyframes slide-from-right {
    0% {
        transform: translateX(+200%);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 600px) {
    form {
        flex: 0.8;
    }
}


/********************
 *   INPUT STYLES   *
 ********************/

.input-component {
    display: flex;
    margin: 15px 0;
    flex-direction: column;
}

label {
    display: block;
    margin: 2px 2px;
    font-size: 13px;
    color: white;
}

#inputs-container input {
    border: none;
    border-bottom: 2px solid var(--color4);
    background-color: var(--color1);
    width: 100%;
    padding: 12px 2px;
    outline: none;
    margin-top: 5px;
    max-width: 300px;
    letter-spacing: 1px;
    transition: 0.2s ease all;
    color: var(--color3);
    font-weight: bold;
    font-size: 12px;
}

#inputs-container input:focus {
    border-bottom-color: var(--color3);
}

@media screen and (max-width: 600px) {
    #inputs-container input {
        max-width: unset;
    }
}


/*********************
 *   BUTTON STYLES   *
 *********************/

input[type=submit] {
    padding: 12px 10px;
    border-radius: 20px;
    width: 100px;
    margin: 20px 0;
    cursor: pointer;
    outline: none;
    color: white;
    border: none;
    letter-spacing: 1px;
    background-color: var(--color3);
    font-weight: bold;
    transition: all 0.25s ease;
}

input[type=submit]:hover {
    color: var(--color3);
    background: white
}

@media screen and (max-width: 600px) {
    input[type=submit] {
        width: 100%;
    }
}


/*********************
 *   SVG ANIMATION   *
 *********************/

/* FIRST LAMP */

#path158 {
    animation: slide-down-up 3s ease-in-out .1s infinite;
    transform-origin: center;
}

#path148 {
    animation: slide-down-up 3s ease-in-out .1s infinite;
    transform-origin: center;
}

#path146 {
    animation: slide-down-up 3s ease-in-out .1s infinite;
    transform-origin: center;
}

/* SECOND LAMP */

#path142 {
    animation: slide-up-down 3s ease-in-out .1s infinite;
    transform-origin: center;
}

#path154 {
    animation: slide-up-down 3s ease-in-out .1s infinite;
    transform-origin: center;
}

#path156 {
    animation: slide-up-down 3s ease-in-out .1s infinite;
    transform-origin: center;
}

/* THIRD LAMP */

#path150 {
    transform: translateY(500px);
    animation: slide-down-up 3s ease-in-out .1s infinite;
    transform-origin: center;
}

#path152 {
    transform: translateY(500px);
    animation: slide-down-up 3s ease-in-out .1s infinite;
    transform-origin: center;
}

#path144 {
    transform: translateY(500px);
    animation: slide-down-up 3s ease-in-out .1s infinite;
    transform-origin: center;
}

/* LAMP ANIMATION KEYFRAMES */

@keyframes slide-down-up {
    0% {
        transform: translateY(-30%);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30%);
    }
}

@keyframes slide-up-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(0);
    }
}


/********************
 *   IMAGE STYLES   *
 ********************/

#top-right-graphic {
    display: none;
    z-index: 100;
    width: 100px;
    animation: 2s cubic-bezier(0.63, 0, 0.59, 0.96) 0s 1 slide-from-right;
}

#animation-wrapper {
    z-index: 100;
    position: absolute;
    right: 30px;
    top: 30px;
    transform: rotate(20deg);
}


@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(20deg);
    }
}

@media screen and (max-width: 600px) {
    #top-right-graphic {
        display: unset;
    }
}